<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="errorlog" value="D:\AppLogs\EChannels\errorlog\" />
    <add key="ProductName" value="FlutterWaveCard" />
    <add key="mssqlconn" value="Server=10.0.41.101;database=Echannels_1018;User ID=sa;password=tylent;"/>
    <!--<add key="mssqlconn" value=" Server=10.0.0.204,1490;database=EChanelsT24;User ID=echanelusr;password=($98uyt1#@);" />-->
    <add key="startFrom" value="-5" />
    <add key="EndOn" value="1" />
    <add key="checkTraSource" value="VSCT" />
    <add key="errorlog" value="C:\AppLogs\VISAPayment\" />
    <add key="UpdateLog" value="C:\AppLogs\VISAPayment\UpdatePayment\" />
    <add key="Admin" value="Chika.odiari@Sterlingbankng.com,Ramon.Alao@Sterlingbankng.com,Appolonia.Ikeme@Sterlingbankng.com" />
    <add key="MappingNuban" value="\\10.0.41.102\e$\devApps\EChannelsPortal_v3\EChannelsPortal_v3\TestApp\bin\Debug\nuban_mapping.txt" />
    <add key="CardListPath" value="\\10.0.41.102\e$\alao\Card List.txt" />
    <add key="VisaPaymentPath" value="\\10.0.41.102\e$\alao" />
    <add key="sftpHost" value="path" />
    <add key="sftpPort" value="22" />
    <add key="sftpUser" value="path" />
    <add key="sftpPwd" value="path" />
    <add key="sftpPth" value="path" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="banksSoap" />
        <binding name="ServiceSoap" />
        <binding name="ldapSoap" />
        <binding name="corpPaySoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.0.138:814/banks.asmx" binding="basicHttpBinding"
        bindingConfiguration="banksSoap" contract="EACBS_Serv.banksSoap"
        name="banksSoap" />
      <endpoint address="http://10.0.0.230/ewservice/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="EWService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.0.0.217/bankservice/ldap.asmx" binding="basicHttpBinding"
        bindingConfiguration="ldapSoap" contract="ADService.ldapSoap"
        name="ldapSoap" />
      <endpoint address="http://10.0.41.102:814/corppay.asmx" binding="basicHttpBinding"
        bindingConfiguration="corpPaySoap" contract="vTellers.corpPaySoap"
        name="corpPaySoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>